<nav>
    <div class="container">
        <div class="logo-container">
            <a routerLink="/home"><button id="logo"><img src="assets/logo_orange.png" alt="logo crashed"></button></a>
        </div>
        <div class="navbar-wrap">
            <ul class="navbar-menu">
                <li><a href=""><button class="nav-btn">Цены</button></a></li>
                <li><a href=""><button class="nav-btn">Кейсы</button></a></li>
                <li><a href=""><button class="nav-btn">Как это работает</button></a></li>
                <li><a href=""><button class="nav-btn">Отзывы</button></a></li>
                <li><a href=""><button class="nav-btn">FAQ</button></a></li>
            </ul>
        </div>
        <div class="personal-cabinet-btn-container">
            <a routerLink="/auth"><button>Личный кабинет</button></a>
        </div>
    </div>
</nav>
