<div class="sidebar-container">
  <img class="sidebar-logo" src="assets/evalUIX_logo.png">
  <img class="taper-img" src="assets/taper-1.png">
  <div class="sidebar-nav-menu">
    <a routerLink="/account-main-page"><button class="nav-btn cabinet"><img src="assets/home.png"><span>Личный кабинет<br>эксперта</span></button></a>
    <a routerLink="/notifications" ><button class="nav-btn notifications"><img src="assets/notification-on.png"><span>Уведомления</span></button></a>
    <a routerLink="/edit-profile"><button class="nav-btn edit-profile"><img src="assets/settings.png"><span>Редактировать<br>профиль</span></button></a>
    <button class="nav-btn exit" (click)="logout()"><img src="assets/exit.png"><span>Выйти</span></button>
  </div>
</div>
