<body>
<div class="container">
  <section class="user-info-section">
    <app-user-info-bar></app-user-info-bar>
    <app-weight-bar></app-weight-bar>
    <app-sidebar></app-sidebar>
  </section>

  <div class="completed-orders-container">
    <h1>Выполненные заказы</h1>
    <div class="completed-orders">
      <div class="completed-order">
        <span class="project-name">Приложение НГТУ</span>
        <button class="unwrap-btn"><img src="assets/dropdown.png"></button>
      </div>
    </div>
  </div>
</div>
</body>
